<div class="alpha-index">
  <a class="" href="">A</a>
  <a class="" href="">B</a>
  <a class="" href="">C</a>
  <a class="" href="">D</a>
  <a class="" href="">E</a>
  <a class="" href="">F</a>
  <a class="" href="">G</a>
  <a class="" href="">H</a>
  <a class="" href="">I</a>
  <a class="" href="">J</a>
  <a class="" href="">K</a>
  <a class="" href="">L</a>
  <a class="" href="">M</a>
  <a class="" href="">N</a>
  <a class="" href="">O</a>
  <a class="" href="">P</a>
  <a class="" href="">Q</a>
  <a class="" href="">R</a>
  <a class="" href="">S</a>
  <a class="" href="">T</a>
  <a class="" href="">U</a>
  <a class="" href="">V</a>
  <a class="" href="">W</a>
  <a class="" href="">X</a>
  <a class="" href="">Y</a>
  <a class="" href="">Z</a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="A">A</h1>
  <hr>
  <h3>Authorization to operate</h3>
  The official management decision given by a senior Federal official or officials to authorize operation of an information system and to explicitly accept the risk to agency operations (including mission, functions, image, or reputation), agency assets, individuals, other organizations, and the Nation based on the implementation of an agreed-upon set of security and privacy controls. Authorization also applies to common controls inherited by agency information systems. <a href="https://www.whitehouse.gov/sites/default/files/omb/assets/OMB/circulars/a130/a130revised.pdf">OMB Circular No. A-130, Managing Information as a Strategic Resource (July 28, 2016)</a>.

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="B">B</h1>
  <hr>
  <h3>Breach</h3>
  Loss of control, compromise, unauthorized disclosure, unauthorized acquisition, unauthorized access, or any similar term referring to situations where persons other than authorized users and for an other than authorized purpose have access or potential access to personally identifiable information, whether physical or electronic. <a href="https://www.whitehouse.gov/sites/default/files/omb/memoranda/fy2007/m07-16.pdf">OMB Memorandum M-07-16, Safeguarding Against and Responding to the Breach of Personally Identifiable Information (May 22, 2007)</a>.
  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="C">C</h1>
  <hr>
  <h3>Chief Information Officer</h3>
  The senior official that provides advice and other assistance to the head of the agency and other senior management personnel of the agency to ensure that IT is acquired and information resources are managed for the agency in a manner that achieves the agency’s strategic goals and information resources management goals; and is responsible for ensuring agency compliance with, and prompt, efficient, and effective implementation of, the information policies and information resources management responsibilities, including the reduction of information collection burdens on the public. <a href="https://www.whitehouse.gov/sites/default/files/omb/assets/OMB/circulars/a130/a130revised.pdf">OMB Circular No. A-130, Managing Information as a Strategic Resource (July 28, 2016)</a>.

  <br><br>
  <h3>Chief Information Officers Council</h3>
  The Council codified in the E-Government Act of 2002. <a href="https://www.gpo.gov/fdsys/pkg/USCODE-2010-title44/pdf/USCODE-2010-title44-chap35-subchapI-sec3501.pdf">44 U.S.C. § 3501</a> note (Pub. L. 107–347), <a href="https://www.gpo.gov/fdsys/pkg/PLAW-107publ347/html/PLAW-107publ347.htm">§ 101</a>.

  <br><br>
  <h3>Common Control</h3>
  A security or privacy control that is inherited by multiple information systems or programs. A control is inherited by an information system when the control is selected for the system but the control is developed, implemented, assessed, authorized, and monitored by entities other than those responsible for the system. <a href="https://www.whitehouse.gov/sites/default/files/omb/assets/OMB/circulars/a130/a130revised.pdf">OMB Circular No. A-130, Managing Information as a Strategic Resource (July 28, 2016)</a>.

  <br><br>
  <h3>Controlled Unclassified Information</h3>
  Information that requires safeguarding or dissemination controls pursuant to and consistent with law, regulations, and Government-wide policies, excluding information classified under Executive Order 13526 of December 29, 2009, or the Atomic Energy Act, as amended. <a href="https://www.whitehouse.gov/sites/default/files/omb/assets/OMB/circulars/a130/a130revised.pdf">OMB Circular No. A-130, Managing Information as a Strategic Resource (July 28, 2016)</a>.

  <br><br>
  <h3>Cybersecurity</h3>
  Prevention of damage to, protection of, and restoration of computers, electronic communications systems, electronic communications services, wire communication, and electronic communication, including information contained therein, to ensure its availability, integrity, authentication, confidentiality, and nonrepudiation. <a href="https://www.whitehouse.gov/sites/default/files/omb/assets/OMB/circulars/a130/a130revised.pdf">OMB Circular No. A-130, Managing Information as a Strategic Resource (July 28, 2016)</a>.
  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="D">D</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="E">E</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="F">F</h1>
  <hr>
  <h3>Federal Information</h3>
  Information created, collected, processed, maintained, disseminated, disclosed, or disposed of by or for the Federal Government, in any medium or form. <a href="https://www.whitehouse.gov/sites/default/files/omb/assets/OMB/circulars/a130/a130revised.pdf">OMB Circular No. A-130, Managing Information as a Strategic Resource (July 28, 2016)</a>.

  <br><br>
  <h3>Federal Information System</h3>
  Information system used or operated by an agency or by a contractor of an agency or by another organization on behalf of an agency. <a href="https://www.whitehouse.gov/sites/default/files/omb/assets/OMB/circulars/a130/a130revised.pdf">OMB Circular No. A-130, Managing Information as a Strategic Resource (July 28, 2016)</a>.
  <a class="back-to-top"></a>

  <br><br>
  <h3>Federal Privacy Council</h3>
  The Council established by Executive Order 13719. <a href="https://www.whitehouse.gov/sites/default/files/omb/assets/OMB/circulars/a130/a130revised.pdf">OMB Circular No. A-130, Managing Information as a Strategic Resource (July 28, 2016)</a>.
  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="G">G</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="H">H</h1>
  <hr>
  <h3>Health Information</h3>
  Any information, including genetic information, whether oral or recorded in any form or medium, that: (1) is created or received by a health care provider, health plan, public health authority, employer, life insurer, school or university, or health care clearinghouse; and (2) relates to the past, present, or future physical or mental health or condition of an individual; the provision of health care to an individual; or the past, present, or future payment for the provision of health care to an individual. <a href="https://www.gpo.gov/fdsys/pkg/CFR-2011-title45-vol1/pdf/CFR-2011-title45-vol1-sec160-103.pdf">45 C.F.R. § 160.103</a>.

  <br><br>
  <h3>Hybrid Control</h3>
  A security or privacy control that is implemented for an information system in part as a common control and in part as a system-specific control. <a href="https://www.whitehouse.gov/sites/default/files/omb/assets/OMB/circulars/a130/a130revised.pdf">OMB Circular No. A-130, Managing Information as a Strategic Resource (July 28, 2016)</a>.
  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="I">I</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="J">J</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="K">K</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="L">L</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="M">M</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="N">N</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="O">O</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="P">P</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="Q">Q</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="R">R</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="S">S</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="T">T</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="U">U</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="V">V</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="W">W</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="X">X</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="Y">Y</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>

<div class="usa-width-one-whole glossary-entry">
  <h1 id="Z">Z</h1>
  <hr>
  <h3></h3>

  <a class="back-to-top"></a>
</div>
