<!--***********buttons for traning library page*********************************************-->

<div class="usa-media-block tablet:grid-col-3">

<a class="usa-button usa-button--accent-cool margin-bottom-2" href="{{ site.baseurl }}/training/#subject=*&role=*&status=*">Reset Filter</a>

<nav id="filter" class="filters">
<h2 class="filter-title font-sans-sm">Filter by Type</h2>
<ul class="filter-list" data-filter-group="subject">
  <li><a aria-label="Filter by Type: Policy" role="checkbox" href="javascript:void(0)" data-filter=".fed-policy">Video</a></li>
  <li><a aria-label="Filter by Category: Priority" role="checkbox" href="javascript:void(0)" data-filter=".priority">PowerPoint</a></li>
    <li><a aria-label="Filter by Category: Priority" role="checkbox" href="javascript:void(0)" data-filter=".infograhpic">Infographic</a></li>
</ul>

<h2 class="filter-title font-sans-sm">Filter by Category</h2>
<ul class="filter-list" data-filter-group="role">
  <li><a aria-label="Filter by Category: Governance" role="checkbox" href="javascript:void(0)" data-filter=".policy">Policy</a></li>
  <li><a aria-label="Filter by Category: Data" role="checkbox" href="javascript:void(0)" data-filter=".PIA">PIAs</a></li>
  <li><a aria-label="Filter by Category: Cloud" role="checkbox" href="javascript:void(0)" data-filter=".fipps">FIPPs</a></li>
  <li><a aria-label="Filter by Category: IT Spending" role="checkbox" href="javascript:void(0)" data-filter=".accountability">Accountability</a></li>
  <li><a aria-label="Filter by Category: Cybersecurity" role="checkbox" href="javascript:void(0)" data-filter=".transparency">Transparency</a></li>
  <li><a aria-label="Filter by Category: Acquisition" role="checkbox" href="javascript:void(0)" data-filter=".acquisition">Acquisition</a></li>
</ul>

</nav>
</div>
