---
layout: base
---

<div class="usa-grid usa-section usa-content">
  <aside class="usa-width-one-fourth">
    <h6 class="usa-heading-alt">Careers</h6>
    <ul class="usa-sidenav-list">
          <li>
              <a class="usa-current" href="{{ site.baseurl }}/careers/#agency-resources">Agency Resources</a>
          </li>
          <li>
              <a href="{{ site.baseurl }}/careers/#education">Education & Experience</a>
          </li>
          <li>
              <a href="{{ site.baseurl }}/careers/#recent-graduates">Students & Recent Graduates</a>
          </li>
    </ul>
  </aside>
  <div class="usa-width-three-fourths usa-content" id="main" tabindex="-1">
    <h1>{{ page.title }}</h1>
    {% if page.image %}
      <div class="page--banner" style="background-image: url({{ page.image | prepend: site.baseurl }});"></div>
    {% endif %}
    {% if page.image-credit %}
      <span class="caption"><a href="{{page.image-credit}}" target="_blank">Photo credit</a> (Creative Commons)</span>
    {% endif %}
    {{ content }}
  </div>
</div>
