---
layout: base
---
<section >
  <div class="standard-unit" style="background-image: url('{{ page.background-image | prepend: site.baseurl }}'); height: 200px;">
    <section class="usa-grid usa-section">
     <font style="COLOR: #FFFFFF; font-size: 42px;">Federal Privacy Council</font>
    </section>
  </div>
</section>

     
<section style="background-color: #FFFFFF;">
   <div class="standard-unit" style="background-color:#FFFFFF;">
 {% include federal-privacy-council.html %}  
  </div>
 </section>

     
<section style="background-color: #FF522D;">
   <div class="standard-unit" style="background-color:#FF522D;">
 {% include federal-privacy-council-objectives.html %}  
  </div>
 </section>
 
          
<section style="padding-top: 30px; background-image: none; background-color: #215C8C;">
   <div class="standard-unit" style="background-color: #215C8C">
 {% include federal-privacy-council-other-executive-councils.html %}  
  </div>
 </section>


