---
layout: base
---
<section class="usa-grid usa-section">
  <div class="usa-width-one-whole">
    <h2>{{ page.hero-text }}</h2>
  </div>
</section>
     
<section style="background-color: #FFFFFF;">
   <div class="standard-unit" style="background-color:#FFFFFF;">
 {% include federal-privacy-council.html %}  
  </div>
 </section>

     
<section style="background-color: #FF522D;">
   <div class="standard-unit" style="background-color:#FF522D;">
 {% include federal-privacy-council-objectives.html %}  
  </div>
 </section>
 
          
<section style="padding-top: 30px; background-image: none; background-color: #215C8C;">
   <div class="standard-unit" style="background-color: #215C8C">
 {% include federal-privacy-council-other-executive-councils.html %}  
  </div>
 </section>


